@media only screen and (max-width: 600px) {
  .article-images {
    width: 150px;
  }

  .card {
    display: flex;
    height: 200px;
    flex-direction: row;
    width: 100%;
    overflow: hidden auto;
  }

  .card-group {
    flex-flow: row;
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    height: 200px;
    flex-direction: row;
    margin: 30px;
    width: 100%;
  }

  .card-group {
    flex-flow: row;
    display: block;
  }

  .article-images {
    width: fit-content;
  }
}
