@media only screen and (max-width: 600px) {
  .article-images {
    width: 150px;
  }

  .card {
    display: flex;
    height: 200px;
    flex-direction: row;
    width: fit-content;
    overflow: hidden auto;
  }

  .card-group {
    flex-flow: row;
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .card-group {
    display: grid;
    grid-template-columns: auto auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: fit-content;
    border-color: black;
  }

  .article-images {
    width: 100%;
    border-radius: 0%;
  }
}
