@media only screen and (max-width: 600px) {
  .filter-toolbar {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #order-by-button {
    justify-content: center;
    margin-left: 10%;
  }

  #sort-by-button {
    justify-content: center;
    margin-left: 20%;
  }
}
